@tailwind base;
@tailwind components;
@tailwind utilities;

.fp-overflow {
  @apply w-full h-full
}

.section {
  background-image: url('../images/backgrounds/rice_paper_background.svg');
  background-size: cover;
}

.section.bg-dark {
  background-image: url('../images/4/dark_rice_paper.svg');
  background-size: cover;
}

.wrapper {
  @apply relative w-full h-full
}

.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;

  @apply font-bold text-2xl text-[#308483] pb-3
}

.subtitle {
  font-family: Georgia, 'Times New Roman', Times, serif;

  @apply text-[#308483] pb-2
}